td {
    width: 100px;
    height: 100px;
    text-align: center;
}

td.farm {
    background-color: green;
}

td.forest {
    background-color: blue;
}

td.canteen {
    background-color: red;
}

td.desert {
    background-color: yellow;
}

.imagen-player {
    margin-top: 10px;
    width: 60px;
    height: 60px;
}

h6.player-title {
    text-align: center;
    color: black;
    font-size: 10px;
    font-weight: bold;
}