.dado-numero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    background-color: white;
    border: 1px solid black;
}

.numero {
    font-size: 45px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 15px;
}