.logout-button {
    position: relative;
  }
  
  .logout-button-toggle {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .logout-button-dropdown {
    background-color: rgb(201, 78, 40);
    color: white;
    list-style-type: none;
    padding: 0;
    position: absolute;
    margin-top: 5px;
    left: 0;
    width: 100%;
  }
  
  .logout-button-dropdown li {
    padding: 10px;
  }
  
  .logout-button-dropdown li:hover {
    background-color: rgb(199, 53, 8);
    cursor: pointer;
  }
  