.navbar {
    background-color: rgb(201, 78, 40);
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_logo{
    display: inline-block;
    vertical-align: middle;
    width: 50px;
  }

.navbar_logo img {
    width: 100%;
    height: auto;
    display: block;
}

.nav_logo {
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin: 15px;
}

.nav_items a{
    margin: 15px;
    color: white;
    position: relative;
    text-decoration: none;
}

.nav_toggle {
    display: none;
}

.user-buttons {
    display: flex;
    align-items: center;
}


.signup-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.signup-button a{
    margin: 15px;
    color: black;
    position: relative;
    text-decoration: none;
}



@media (max-width: 768px) {
    .nav_items {
        position: absolute;
        top: 60px;
        left: 0;
        background:  rgb(201, 78, 40);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: -webkit-fill-available;
        transform: translateX(-100%);
        transition: 0.3s ease all;
    }

    .nav_items.open {
        transform: translateX(0) !important;
    }
    
    .nav_items.open a{
        color: black;
    }

    .nav_toggle {
        display: flex !important;
        flex-direction: column;
        margin: 15px;
    }

    .nav_toggle span{
        width: 30px;
        height: 4px;
        background: white;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }

    .nav_toggle.open > span{
        transform: rotate(45deg) translate(0px, 0px);
    }

    .nav_toggle.open > span:nth-child(2) {
        display: none;
    }

    .nav_toggle.open > span:nth-child(3) {
        transform: rotate(-45deg) translate(-5px, 1px);
    }
}
