.tabla-campeones {
    width: 90%;
    border-collapse: collapse;
    border: 5px solid rgb(220, 190, 22);
    margin: 20px;
    text-align: center;
    margin-left: 60px;
}

.encabezado {
    font-size: 20px;
    font-weight: bold;
    color: rgb(220, 190, 22);
    margin: 25px 0;
    border-bottom: 1px solid;
}

.datos {
    font-size: 18px;
    font-weight: bold;
    color: rgb(49, 43, 42);
    margin: 0 0;
    border-bottom: 2px solid rgb(220, 190, 22);
}